html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;
}

article {
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
}

section {
    border-radius: 5px;
    padding: 10px;
}

header {
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
}

nav {
    border-radius: 5px;
    padding: 10px;
}

@media screen and (min-width: 900px) {

    main {
        max-width: 40%;
        margin: auto;
    }

}
