html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;
}

article {
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}

section {
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
}

header {
    align-items: center;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
}

@media screen and (min-width: 900px) {

    article {
        max-width: 50%
    }
